/** CSS styles **/
/* index.html */

*{
    padding: 0;
    margin: 0;
}

html{
    width: 100vw;
    min-height: 100%;
}

body{
    width: 100vw;
    padding: 0;
    margin: 0;
    min-height: 100vw;
    background-image: url("../images/suburb.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Raleway', sans-serif;
}

.container{
    width: 99vw;
    height: 99vw;
    margin: 0 auto;
    top: 0;
    left: 0;
    position: relative;
}

h1{
    padding: 0.9em;
}

h2{
    padding: 0.35em;
}

h3{
    padding: 0.7em 0.4em 1em;
    font-size: 1.2em;
}

h4{
    padding: 0.6em;
}

h5,
h6{
    padding: 0.5em;    
}

img{
    object-fit: cover;
    object-position: center;
}

.lora{
    font-family: 'Lora', serif;
    font-size: 
}

.raleway{
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
}


/** TITLE **/
#title{
    width: 60vw;
    min-height: 20em;
    color: #333;
    text-align: center;
    padding: 4em 0 5em;
    background-color: rgba(224, 224, 224, 0.5);
    border: 0.1em solid #FFF;
    border-radius: 2em;
    margin: 12vw auto 0;
    left: 50%;
}

#title h1{
    font-size: 3em;
    background-color: #4481eb;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(255,255,255,0.4) 0px 3px 3px;
}

#title sup{
    vertical-align: text-top;
    font-size: x-large;
}

#title h3{
    font-style: italic;
}

#box{
    width: 70%;
    margin: 0 auto;
}


/** CURRENTLOC **/
#currentLoc{
    width: 70%;
    margin: 2em auto;
    padding: 2em 0;
    border: 0.1em solid #FFF;
    background-color: rgba(224, 224, 224, 0.8);
}

#currentLoc a{
    text-decoration: none;
}


/** FORM **/
#form{
    width: 70%;
    margin: 2em auto;
    padding: 2em 0;
    border: 0.1em solid #FFF;
    background-color: rgba(224, 224, 224, 0.8);
}

#form h3{
}

table{
    margin: 0 auto;
    padding-bottom: 1em;
}

form{
    width: 100%;
}

form .tableRow{
    width: 100%;
}

form .tableRow td{
    padding: 0.3em 0;
}

.tableRow .label{
    text-align: right;
    font-size: 0.9em;
    padding-right: 0.5em;
}

.tableRow .label label{
    text-transform: uppercase;
    font-weight: bold;
    padding-right: 0.5em;
}

.tableRow .input input{
    width: 20em;
    height: 2.25em;
    margin: 0 auto;
    border: 0.1em solid #33B2FF;
    border-radius: 0.4em;
    font-size: 0.9em;
    text-indent: 0.8em;
    background-color: rgba(51, 178, 255, 0.2);
}

.tableRow .input input:focus{
    background-color: #FFF;
}

.tableRow .input select{
    width: 20em;
    height: 2.5em;
    margin: 0 auto;
    padding: 0 3em 0 2em;
    text-align: right;
    font-size: 0.9em;
    border-color: #33B2FF;
    background-color: rgba(51, 178, 255, 0.2);
}

.tableRow .input select:focus{
    background-color: #FFF;
    border-color: #33B2FF;
}

#submit, #currentLoc p{
    width: 12em;
    padding: 1em 0;
    margin: 0 auto;
    color: #FFF;
    background-color: #4481eb;
    border: 0.1em solid #FFF;
    border-radius: 0.4em;
    font-size: 0.9em;
    font-weight: bold;
    cursor: pointer;
}

#currentLoc p:hover, .button #submit:hover{
    background-color: #00406C;
}

/** AUTOCOMPLETE **/
.autocomplete{
    position: relative;
}

.autocomplete-items{
    position: absolute;
    border: 0.1em solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
    text-align: left;
}

.autocomplete-items div{
    padding: 0.5em;
    cursor: pointer;
    background-color: #FFF;
    border-bottom: 0.1em solid #d4d4d4;
}

.autocomplete-items div:hover{
    background-color: #e9e9e9;
}

.autocomplete-active{
    background-color: DodgerBlue !important;
    color: #FFF;
}


/** CSS RESPONSIVE SETTINGS **/
@media screen and (min-width: 876px) and (max-width: 900px){
    
}

@media screen and (min-width: 741px) and (max-width: 875px){
    
}

@media screen and (min-width: 706px) and (max-width: 740px){
    
}

@media screen and (min-width: 551px) and (max-width: 705px){
    
}

@media screen and (min-width: 550px){
    
    /** TITLE **/
/*
    #title{
        width: 100%;
        padding: 0;
        background-color: rgba(224, 224, 224, 0);
        top: 0;
    }
    
    #box{
        width: 80%;
        padding: 1em 0 2em;
        background-color: rgba(224, 224, 224, 0.95);
    }
*/


    /** CURRENTLOC **/
/*
    #currentLoc{
        width: 80%;
        padding: 1em 0 2em;
        background-color: rgba(224, 224, 224, 0.95);
    }
*/


    /** FORM **/
/*
    #form{
        width: 80%;
        padding: 1em 0 2em;
        background-color: rgba(224, 224, 224, 0.95);
    }

    table{
        width: 90%;
        text-align: center;
    }

    form .tableRow td{
        padding: 0.3em 0 0.8em;
        float: left;
        margin: 0 auto;
    }

    .tableRow .label{
        font-size: 0.9em;
        padding-bottom: 0.1em;
        width: 100%;
    }

    .tableRow .label label{
        padding-right: 0;
    }

    .tableRow .input input:focus{
        background-color: #FFF;
    }

    .tableRow .input select{
        width: 20em;
        height: 2.5em;
        margin: 0 auto;
        padding: 0 3em 0 2em;
        text-align: right;
        font-size: 0.8em;
        border-color: #33B2FF;
        background-color: rgba(51, 178, 255, 0.2);
    }

    .tableRow .input select:focus{
        background-color: #FFF;
        border-color: #33B2FF;
    }

    #submit, #currentLoc p{
        width: 12em;
        padding: 1em 0;
        margin: 0 auto;
        color: #FFF;
        background-color: #4481eb;
        border: 0.1em solid #FFF;
        border-radius: 0.4em;
        font-size: 0.9em;
        font-weight: bold;
        cursor: pointer;
    }
*/
    
}