/** CSS styles **/
/* PAGE 2 STYLES */

*{
    padding: 0;
    margin: 0;
}

html{
    width: 100vw;
    min-height: 100%;
    position: relative;
}

body{
    width: 100vw;
    padding: 0;
    margin: 0;
    min-height: 100vw;
    background-image: url("../images/suburb.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Raleway', sans-serif;
}

.container{
    width: 80vw;
    margin: 0 auto;
    padding-bottom: 2em;
}

h1{
    padding: 0.9em;
}

h2{
    padding: 0.35em 0;
}

h3{
    padding: 0.7em 0.4em;
    font-size: 1.2em;
}

h4{
    padding: 0.6em;
}

h5,
h6{
    padding: 0.5em;
}

img{
    object-fit: cover;
    object-position: center;
}

.lora{
    font-family: 'Lora', serif;
    font-size: 
}

.raleway{
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
}

footer{
    width: 100%;
    min-height: 4em;
    background-color: #333;
    margin: 0 auto 2.5em;
    border-radius: 5em;
    float: left;
}

footer p{
    width: 15%;
    color: #FFF;
    font-size: 1em;
    margin-top: 0.8em;
    padding: 0.5em 0;
    text-transform: uppercase;
    float: left;
    text-align: right;
}

footer div{
    width: 100%;
    padding: 0.1em 0;
    margin: 0 auto;
    text-align: center;
    float: left;
}

footer a{
    text-decoration: none;
}

footer img{
    padding: 0 1em;
    vertical-align: middle;
    opacity: 0.5;
}

footer img:hover{
    opacity: 1;
}


/** IMAGE REF **/
#imagerefP2{
    width: 15%;
    font-size: 0.9em;
    text-transform: none;
    text-align: right;
    color: #FFF;
    margin: 0.9em 4.5em 0 0;
    padding: 0.5em 0;
    float: right;
}

#imagerefP2 a{
    text-decoration: underline;
    color: #FFF;
}


/** SCROLL TO TOP BUTTOM **/
#top{
    display: none;
    position: fixed;
    bottom: 1em;
    right: 1.35em;
    font-size: 3em;
    color: #0097FE;
    background-color: rgba(224, 224, 224, 0);
    border: none;
    cursor: pointer;
    text-decoration: none;
    z-index: 99;
}

#top:hover{
    color: #FFF;
}


/** HEADER **/
#header{
    width: 100%;
    min-height: 5.5em;
    background-color: #00406C;
    text-align: center;
    border-bottom: 0.1em solid #F0F0F0;
}

#header #title{
    font-size: 0.9em;
/*    color: #FFF;*/
    width: 75%;
    float: left;
}

#header #title h1{
    margin-left: 30%;
    background-color: #FFF;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(0,0,0,0.2) 0px 3px 3px;
}

#header #title sup{
    font-size: large;
}

#header #title .fas{
    font-size: 0.9em;
}

#header #home{
    float: right;
    width: 25%;
    font-size: 2.1em;
    color: #0097FE;
    padding: 0.7em 0;
    background-color: #0097FE;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(0,0,0,0.2) 0px 3px 3px;
}

#header #home a{
    text-decoration: none;
    color: #0097FE;
}

#header #home a:hover{
    text-decoration: none;
    color: #FFF;
}

/** SUBURB DATA **/
#suburb{
    width: 100%;
    min-height: 20em;
    color: white;
    padding: 4.5em 0 5em;
    margin: 0 auto;
    display: block;
    border-bottom: 0.1em solid #F0F0F0;
}

#mainSec td{
    text-align: left;    
}

.leftTd{
    min-width: 6em;
}

#location{
    font-size: 3rem;
    font-weight: bold;
    padding: 0.35em 0.25em;
    vertical-align: top;
    color: #0097FE;
    clear: both;
}

#suburb .image{
    width: 25vw;
    margin: 0 auto;
    padding: 0 2em;
    float: left;
    text-align: right;
}

#suburb .image img{
    width: 20em;
    height: 20em;
    border: 0.35em solid #00406C;
    border-radius: 50%;
    margin: 0 auto;
}

#suburb .right{
    float: right;
    width: 55vw;
    margin: 0 auto;
}

#suburb .right h3{
    color: #00406C;
}

#suburb .right .leftRow{
    float: right;
    width: 35%;
    padding: 0.2em;
    background-color: #0097FE;
    border: 0.1em solid #DDD;
    border-radius: 5em;
    text-align: center;
}

#suburb .right .leftRow h3{
    color: #FFF;
}

#suburb .right .rightRow{
    float: left;
    width: 55%;
    text-align: left;
    padding: 0.2em 0;
}

#suburb .right #mainSec #current{
    font-size: 1.3em;
}

#suburb .right #mainSec h3{
    color: #00406C;
    font-size: 1.2em;
    padding: 0.5em 1em 0.4em 0.5em;
}

#suburb .right #mainSec .h2Main{
    color: #0097FE;
    font-size: 1.4em;
    padding: 0.3em 0;
}


/** NAMESAKE INFO **/
#namesakeSection{
    width: 80vw;
    height: auto;
    color: white;
    padding: 3em 0 4em;
    margin: 0 auto;
    display: block;
    background-color: #00406C;
    float: left;
}

#namesakeSection .image{
    width: 20vw;
    margin: 0 auto;
    padding: 0 3.5em;
    float: left;
    text-align: right;
}

#namesakeSection .image img{
    width: 15em;
    height: 15em;
    border: 0.25em solid #0097FE;
    border-radius: 50%;
    margin: 0 auto;
}

#namesakeSection .right{
    float: left;
    width: 55%;
    margin: 0 auto;
    padding-left: 1em;
}

#namesakeSection .right #leftH3{
    width: 100%;
    font-size: 1.5em;
    text-transform: uppercase;
    padding-left: 0.1em;
    color: #0097FE;
}

#namesakeSection #namesakeTable .fas{
    font-size: 1.3em;
}

#namesakeSection #namesakeTable h3{
    color: #0097FE;
    font-size: 1.2em;
    padding: 0.5em 0;
}

#namesakeSection #namesakeTable td{
    text-align: left;
    font-size: 0.9em;
}

#namesakeSection #namesakeTable .leftTd{
    min-width: 8em;
}

#namesakeSection #namesakeTable td .h2Ns{
    color: #FFF;
    padding: 0.3em 0 0.7em;
}

#namesakeSection #namesakeTable p{
    padding: 0.5em 0;
}

#namesakeSection #namesakeTable #nsName{
    text-transform: capitalize;
}

#nsBio{
    list-style-position: outside;
}

#nsBio .list{
    padding: 0.15em 0;
    margin-left: 1.1em;
}


/** MAIN INFO **/
#subMain{
    width: 100%;
    min-height: 20em;
    margin: 0 auto;
    overflow-x: auto;
    float: left;
    background-color: rgba(224, 224, 224, 0.9);
    border-top: 0.1em solid #F0F0F0;
    border-bottom: 0.1em solid #F0F0F0;
}

#subMain .table:nth-child(1),
#subMain .table:nth-child(2),
#subMain .table:nth-child(3),
#subMain .table:nth-child(4),
#subMain .table:nth-child(5){
    border-bottom: none;
}

#subMain .table .suburb{
    background-color: rgba(0, 151, 254, 0.3);
    padding: 0.35em 0;
}

#subMain .table .suburb h3{
    font-size: 1.2em;
    color: #00406C;
    text-transform: uppercase;
}

#subMain .suburb{
    width: 100%;
    min-height: 1.5em;
    color: #FFF;
}

#subMain .fas{
    font-size: 1em;
    color: #00406C;
    margin: 0 auto;
    padding-bottom: 0;
    text-align: center;
}

#subMain .summary{
    padding-bottom: 2em;
}

#subMain .summary h3{
    min-height: 1.5em;
}

#subMain .summary #summary{
    padding: 2em 2em 0;
}

#subMain .detailsTableRow,
#subMain .demoTableRow,
#subMain .commonTableRow{
    width: 100%;
    padding: 0.5em 0;
    overflow: auto;
	position: relative;
}

#subMain #commonTable .commonTableRow{
    border-bottom: 0.1em solid #EEE;
}

#subMain #commonTable #commonTableRow:last-of-type{
    border-bottom: none;
}

#subMain .table .column{
    width: 30%;
    height: auto;
    padding: 1.65%;
    display: block;
    float: left;
    text-align: center;
}

#subMain .table .column .fas{
    font-size: 2em;
    color: #333;
    margin: 0 auto;
    padding-bottom: 0;
    text-align: center;
}

#subMain .table .headTableRow{
    font-size: 1em;
    text-transform: uppercase;
    color: #333;
    padding: 1em 1.5em 0;
}

#subMain .table .headTableRow h3{
    padding-top: 0.75em;
    width: auto;
}

#subMain .table .dataTableRow{
    padding: 1em 1.5em 0;
    font-size: 1.3em;
    color: #333;
    font-weight: bold;
}

#subMain #detailsButton,
#subMain #demoButton,
#subMain #commonButton{
    width: 100%;
	min-height: 2em;
    background-color: rgba(224, 224, 224, 0.9);
    border: none;
	text-align: center;
    text-transform: uppercase;
    margin: 0.5em 0;
	position: relative;
	display: inline-block;
    cursor: pointer;
}

#subMain #commonButton{
    margin-bottom: 0.5em;
}

#subMain #detailsButton div,
#subMain #demoButton div,
#subMain #commonButton div{
    background-color: rgba(0, 151, 254, 0.3);
    padding: 0.35em 0;
}

#subMain #detailsTable,
#subMain #demoTable,
#subMain #commonTable{
    width: 100%;
    color: #FFF;
    margin: 0 auto;
    padding-bottom: 0;
    background-color: rgba(224, 224, 224, 0.9);
	display: none;
	position: relative;
}

#subMain #commonTable{
    margin-bottom: 0.7em;
}


/** SECONDARY INFO **/
#subSec{
    width: 100%;
    margin: 0 auto;
    padding: 0 0 2.5em;
}

#subSec #streetsButton,
#subSec #surroundsButton{
    width: 100%;
    background-color: #00406C;
    border-bottom: 0.1em solid #F0F0F0;
	text-align: center;
	position: relative;
	display: inline-block;
    cursor: pointer;
}

#subSec #streetsButton h3,
#subSec #surroundsButton h3{;
    color: #FFF;
}

#subSec #streetsButton .fas,
#subSec #surroundsButton .fas{
    font-size: 1em;
}

.secTableRow{
    padding: 0.7em;
}

.secTableRow h4{
    color: #FFF;
    text-transform: uppercase;
}

#subSec #streetsInfo,
#subSec #surroundsInfo{
    width: 100%;
    border-bottom: 0.1em solid #F0F0F0;
    color: #FFF;
    margin: 0 auto;
    padding: 1em 0;
    background-color: rgba(0, 0, 0, 0.7);
	display: none;
	position: relative;
}

#subSec #streetsInfo li,
#subSec #surroundsInfo li{
    list-style-type: none;
    margin: 0.5em 0;
}


/** CSS RESPONSIVE SETTINGS **/
@media screen and (min-width: 1301px){
    
    .container{
        width: 90vw;
        text-align: center;
    }
    
    #suburb .image{
        width: 30vw;
    }
    
    #suburb .right{
        float: left;
    }
    
    #current, #location, #leftH3{
        text-align: left;
    }
    
    #subMain .table #summary{
        column-count: 2;
    }
    
    #namesakeSection{
        width: 100%;
    }
    
}

@media screen and (min-width: 1001px) and (max-width: 1300px){
    
    footer p{
        width: 12%;
        font-size: 0.9em;
        margin-top: 1em;
    }
    
    footer img{
        padding: 0 0.5em;
    }
    
    #imagerefP2{
        width: 12%;
        margin-top: 0.5em;
    }
    
    #top{
        right: 1em;
    }
    
    #suburb{
        min-height: 23em;
    }
    
    #suburb .image{
        margin-top: 2em;
    }
    
    #suburb .right{
        width: 53vw;
    }

    #suburb .right .leftRow{
        float: left;
        width: 18em;
        margin: 0 0 0.9em 0.5em;
    }

    #suburb .right .rightRow{
        width: 100%;
    }
    
    .container{
        width: 90vw;
        text-align: center;
    }
    
    #suburb .image{
        width: 30vw;
    }
    
    #suburb .right{
        float: left;
    }
    
    #current, #location, #leftH3{
        text-align: left;
    }
    
    #namesakeSection{
        width: 100%;
    }
    
    #subMain #commonTable{
        margin-bottom: 0.5em;
    }
    
}

@media screen and (min-width: 0px) and (max-width: 1000px){
    
    footer{
        border-radius: 0;
        margin-bottom: 0;
        bottom: 0;
        overflow: hidden;
        clear: both;
    }
    
    footer p{
        width: 100%;
        text-align: center;
        margin: 0 auto;
        padding: 1em 0 0.5em;
    }
    
    #imagerefP2{
        width: 100%;
        text-align: center;
        margin: 0 auto;
        padding: 0.5em 0 1em;
    }
    
    #top{
        right: 1em;
    }
    
    /** HEADER **/
    #header{
        min-height: 6em;
    }
    
    #header #title{
        font-size: 1em;
        width: 85%;
    }

    #header #title h1{
        margin-left: 10%;
    }
    
    #header #home{
        float: left;
        width: 10%;
        text-align: left;
    }
    
    .container{
        width: 100vw;
        text-align: center;
        overflow-x: hidden;
    }
    
    /** SUBURB DATA **/
    #suburb{
        min-height: 50em;
        padding: 0 0 3em;
    }
    
    #mainSec{
        width: 100%;
    }

    #mainSec td{
        text-align: center;
        width: 100%;
        float: left;
    }

    .leftTd{
        min-width: 6em;
    }

    #location{
        font-size: 3rem;
        padding: 0.25em;
        vertical-align: top;
    }

    #suburb .right{
        float: none;
        width: 100%;
        text-align: center;
    }

    #suburb .right .leftRow{
        float: none;
        width: 18em;
        margin: 0 auto;
    }

    #suburb .right .rightRow{
        float: none;
        width: 60%;
        margin: 0 auto;
        padding: 1em 0 0.5em 0.5em;
        text-align: center;
    }
    
    #suburb .right h3{
        color: #00406C;
    }

    #suburb .right #mainSec h3{
        padding: 1em 0 0.3em;
    }

    #suburb .right #mainSec .h2Main{
        color: #0097FE;
        font-size: 1.4em;
        padding: 0.3em 0;
    }

    .left{
        float: left;
        width: 45vw;
        margin: 0 auto;
        padding-right: 1em;
    }

    #suburb .image{
        width: 100%;
        float: none;
        text-align: center;
        padding: 0 0 2em;
    }

    #suburb .image img{
        width: 100%;
        border: none;
        border-radius: 0;
    }


    /** NAMESAKE INFO **/
    #namesakeSection{
        width: 100%;
        float: none;
    }

    #namesakeSection .image{
        width: 100%;
        padding: 0 0 2em;
        text-align: center;
    }

    #namesakeSection .right{
        float: none;
        width: 90%;
        padding-left: 0;
    }

    #namesakeSection .right #leftH3{
        text-align: center;
        padding: 1em 0;
    }
    
    #namesakeSection #namesakeTable{
        width: 100%;
    }
    
    #namesakeSection #namesakeTable div{
        width: 100%;
        float: left;
    }

    #namesakeSection #namesakeTable td{
        text-align: center;
        width: 100%;
        float: left;
    }

    #namesakeSection #namesakeTable .leftTd{
        width: 100%;
        float: left;
    }

    #namesakeSection #namesakeTable td .h2Ns{
        width: 100%;
    }

    #namesakeSection #namesakeTable p{
        padding: 0.5em 0;
    }

    #namesakeSection #namesakeTable #nsName{
        text-transform: capitalize;
    }

    #namesakeSection #namesakeTable #nsBio{
        list-style: none;
    }


    /** MAIN INFO **/
    #subMain{
        width: 100%;
        min-height: 20em;
        margin: 0 auto;
        overflow-x: auto;
    }

    #subMain .table{
        width: 100%;
        float: left;
        background-color: rgba(224, 224, 224, 0.9);
        margin: 0 auto;
        padding: 0 0 2em;
        table-layout: fixed;
    }

    #subMain .table:nth-child(1),
    #subMain .table:nth-child(2){
        border-bottom: none;
    }

    th, tr, td{
        text-align: center;
        height: auto;
    }

    th{
        color: #333;
        font-size: 1em;
        text-transform: uppercase;
        padding: 1.5em 0;
    }

    #subMain .table .suburb{
        background-color: rgba(0, 151, 254, 0.3);
    }

    #subMain .table .suburb h3{
        font-size: 1.2em;
        color: #00406C;
    }

    #subMain .suburb{
        width: 100%;
        min-height: 1.5em;
        color: #FFF;
        margin-bottom: 2em;
    }

    #subMain .fas{
        font-size: 1em;
        color: #00406C;
        margin: 0 auto;
        padding-bottom: 0;
        text-align: center;
    }
    
    #subMain .summary{
        padding-bottom: 1em;
    }

    #subMain .summary #summary{
        padding: 1em 2em 0;
    }
    
    #subMain .table .column{
        width: 100%;
        overflow: auto;
        padding: 1.5em 0;
        border-bottom: 0.1em solid #F0F0F0;
    }
    
    #subMain .table .column:last-of-type{
        border: none;
    }

    #subMain #detailsButton,
    #subMain #demoButton,
    #subMain #commonButton{
        padding: 0;
    }

    #subMain #detailsButton div,
    #subMain #demoButton div,
    #subMain #commonButton div{
        margin: 0;
        padding: 0.3em 0;
    }
    
    #subMain .table .detailsTableRow,
    #subMain .table .demoTableRow,
    #subMain .table .commonTableRow{
        border-bottom: none;
    }
    
    #subMain .table .column .headTableRow,
    #subMain .table .column .dataTableRow{
        padding-top: 1em 1.5em 0;
    }

    #subMain .table .picTableRow p{
        width: 1em;
        height: 1em;
        padding: 0.8em 0.5em 0;
    }

    #subMain .table .headTableRow h3{
        padding-top: 0.75em;
    }

    #subMain .table .dataTableRow{
        font-size: 1.3em;
        color: #333;
    }


    /** SECONDARY INFO **/
    #subSec{
        min-height: auto;
    }
    
    
    /** IMAGE REF **/
    #imagerefP2{
        text-align: center;
        padding: 0.5em 0;
    }
    
}