/** CSS styles **/
/* suburb.html */

*{
    padding: 0;
    margin: 0;
}

html{
    width: 100vw;
    min-height: 100%;
}

body{
    width: 100vw;
    padding: 0;
    margin: 0;
    min-height: 100vw;
/*    background-image: linear-gradient(to top, #4481eb 0%, #04befe 100%);*/
    background-image: url("../images/suburb.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Raleway', sans-serif;
}

.container{
    width: 80vw;
    margin: 0 auto;
    padding-bottom: 8em;
}

h1{
    padding: 0.9em;
}

h2{
    padding: 0.35em 0;
}

h3{
    padding: 0.7em 0.4em;
    font-size: 1.2em;
}

h4{
    padding: 0.6em;
}

h5,
h6{
    padding: 0.5em;    
}

img{
    object-fit: cover;
    object-position: center;
}

.lora{
    font-family: 'Lora', serif;
    font-size: 
}

.raleway{
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
}


/** HEADER **/
#header{
    width: 100%;
    min-height: 5.5em;
    background-color: #00406C;
    text-align: center;
    border-bottom: 0.1em solid #F0F0F0;
}

#header #title{
    font-size: 0.9em;
/*    color: #FFF;*/
    width: 75%;
    float: left;
}

#header #title h1{
    margin-left: 30%;
    background-color: #FFF;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(0,0,0,0.2) 0px 3px 3px;
}

#header #title sup{
    font-size: large;
}

#header #home{
    float: right;
    width: 25%;
    font-size: 2.5em;
    color: #0097FE;
    padding: 0.45em 0;
}

#header #home a{
    text-decoration: none;
    color: #0097FE;
}

#header #home a:hover{
    text-decoration: none;
    color: #FFF;
}

/** SUBURB DATA **/
#suburb{
    width: 100%;
    min-height: 20em;
    color: white;
    padding: 4.5em 0 5em;
    margin: 0 auto;
    display: block;
    border-bottom: 0.1em solid #F0F0F0;
}

#mainSec td{
    text-align: left;    
}

.leftTd{
    min-width: 6em;
}

#location{
    font-size: 3rem;
    font-weight: bold;
    padding: 0.5em 0.25em;
    vertical-align: top;
    color: #0097FE;
}

#suburb .right h3{
    color: #00406C;
}

#suburb .right #mainSec #current{
    font-size: 1.3em;
}

#suburb .right #mainSec h3{
    color: #00406C;
    font-size: 1.2em;
    padding: 0.5em 1em 0.4em 0.5em;
}

#suburb .right #mainSec .h2Main{
    color: #0097FE;
    font-size: 1.4em;
    padding: 0.3em 0;
}

.left{
    float: left;
    width: 45vw;
    margin: 0 auto;
    padding-right: 1em;
}

#suburb .image{
    width: 25vw;
    margin: 0 auto;
    padding: 0 2em;
    float: left;
    text-align: right;
}

#suburb .image img{
    width: 20em;
    height: 20em;
    border: 0.35em solid #00406C;
    border-radius: 50%;
    margin: 0 auto;
}

#suburb .right{
    float: right;
    width: 50vw;
    margin: 0 auto;
}


/** NAMESAKE INFO **/
#namesakeSection{
    width: 80vw;
    height: auto;
    color: white;
    padding: 3em 0 4em;
    margin: 0 auto;
    display: block;
    background-color: #00406C;
    float: left;
}

#namesakeSection .image{
    width: 20vw;
    margin: 0 auto;
    padding: 0 3.5em;
    float: left;
    text-align: right;
}

#namesakeSection .image img{
    width: 15em;
    height: 15em;
    border: 0.25em solid #0097FE;
    border-radius: 50%;
    margin: 0 auto;
}

#namesakeSection .right{
    float: left;
    width: 55%;
    margin: 0 auto;
    padding-left: 1em;
}

#namesakeSection .right #leftH3{
    width: 100%;
    font-size: 1.5em;
    text-transform: uppercase;
    padding-left: 0.1em;
}
#namesakeSection #namesakeTable .fas{
    font-size: 1.3em;
}

#namesakeSection #namesakeTable h3{
    color: #0097FE;
    font-size: 1.2em;
    padding: 0.5em 0;
}

#namesakeSection #namesakeTable td{
    text-align: left;
    font-size: 0.9em;
}

#namesakeSection #namesakeTable .leftTd{
    min-width: 8em;
}

#namesakeSection #namesakeTable td .h2Ns{
    color: #FFF;
    padding: 0.3em 0 0.7em;
}

#namesakeSection #namesakeTable p{
    padding: 0.5em 0;
}

#namesakeSection #namesakeTable #nsName{
    text-transform: capitalize;
}


/** MAIN INFO **/
#subMain{
    width: 100%;
    min-height: 20em;
    margin: 0 auto;
    padding-bottom: 1em;
}

#subMain .table{
    width: 100%;
    float: left;
    background-color: rgba(224, 224, 224, 0.9);
    border-top: 0.1em solid #F0F0F0;
    border-bottom: 0.1em solid #F0F0F0;
    margin: 0 auto;
    padding: 0 0 2em;
    table-layout: fixed;
}

#subMain .table:nth-child(1), #subMain .table:nth-child(2){
    border-bottom: none;
}

th, tr, td{
    text-align: center;
    height: auto;
}

th{
    color: #333;
    font-size: 1em;
    text-transform: uppercase;
    padding: 1.5em 0;
}

#subMain .table .suburb{
    background-color: rgba(0, 151, 254, 0.3);
}

#subMain .table .suburb th{
    font-size: 1.2em;
    border-bottom: 0.1em solid #DDD;
    color: #00406C;
}

#subMain .suburb{
    width: 100%;
    min-height: 1.5em;
    color: #FFF;
    margin-bottom: 2em;
}

#subMain .fas{
    font-size: 2em;
    color: #333;
    margin: 0 auto;
    padding-bottom: 0;
    display: table-cell;
}

#subMain .table #summary{
    padding: 2em 2em 0;
}

#subMain .table .picTableRow td{
    width: 1em;
    height: 1em;
    padding: 0.8em 0.5em 0;
}

#subMain .table .headTableRow{
    padding: 1.5em 1.5em 0;
}

#subMain .table .headTableRow th{
    padding-top: 0.75em;
}

#subMain .table .dataTableRow{
    padding: 1.5em 1.5em 0;
    font-size: 1.3em;
    color: #333;
}

#subMain #namesake{
    text-transform: capitalize;
}

/** SECONDARY INFO **/
#subSec{
    width: 100%;
    min-height: 10em;
    margin: 0 auto;
    padding-top: 0;
}

#subSec #subSecButton{
    width: 100%;
	min-height: 4.2em;
    background-color: #00406C;
    border-bottom: 0.1em solid #F0F0F0;
	text-align: center;
	position: relative;
	display: inline-table;
    cursor: pointer;
}

#subSec #subSecButton th{;
    color: #FFF;
}

#subSec #subSecInfo{
    width: 100%;
    border-bottom: 0.1em solid #F0F0F0;
    color: #FFF;
    margin: 0 auto;
    padding: 0.5em 0;
    background-color: rgba(0, 0, 0, 0.7);
	display: none;
	position: relative;
}

#subSec #subSecInfo td{
    padding: 1em;
}


/** CSS RESPONSIVE SETTINGS **/
@media screen and (min-width: 876px) and (max-width: 900px){
    
}

@media screen and (min-width: 741px) and (max-width: 875px){
    
}

@media screen and (min-width: 706px) and (max-width: 740px){
    
}

@media screen and (min-width: 551px) and (max-width: 705px){
    
}

@media screen and (min-width: 550px){
    
    /** HEADER **/
/*
    #header #title{
        font-size: 0.8em;
    }
*/

/*
    #header #title h1{
        margin-left: 10%;
    }
    
    * SUBURB DATA *
    #suburb{
        min-height: 50em;
        padding: 3em 0;
    }

    #mainSec td{
        text-align: center;
        width: 100%;
    }
*/

/*
    .leftTd{
        min-width: 6em;
    }

    #location{
        font-size: 3rem;
        padding: 0.5em 0.25em;
        vertical-align: top;
    }

    #suburb .right h3{
        color: #00406C;
    }

    #suburb .right #mainSec h3{
        color: #00406C;
        font-size: 1.2em;
        padding: 0.5em 0.4em;
    }

    #suburb .right #mainSec .h2Main{
        color: #FFF;
        font-size: 1.4em;
        padding: 0.3em 0;
    }

    .left{
        float: left;
        width: 45vw;
        margin: 0 auto;
        padding-right: 1em;
    }

    #suburb .right{
        float: none;
        width: 100;
        text-align: center;
    }

    #suburb .image{
        width: 90%;
        float: none;
        text-align: center;
        padding-bottom: 2em;
    }
*/
    
}